@page
@model invoices_system.Pages.AccountantCreatInvoiceModel
@{
    Layout = "_AccountantCreatInvoice_Layout2";
}

    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel ">
                        <div class="x_content ">
                            <section class="content">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="body">
                                                <div class="table-responsive">
                                                        <style>
                                                        .btn-float-right {
                                                            float: right;
                                                            border: none;
                                                            color: black;
                                                            padding: 15px 32px;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            display: inline-block;
                                                            font-size: 16px;
                                                            margin: 4px 2px;
                                                            cursor: pointer;
                                                            border-radius: 15%;
                                                            background-color: aqua;
                                                        }
                                                    </style>
                                                    <form method="post">
                                                    <div style="display: flex; align-items: center;" >
                                                        <h3 style="flex: 1;">Create Invoice</h3>
                                                        <button type="submit" class="btn-float-right" >Create</button>
                                                    </div>
                                                    </form>
                                                    <table id="mainTable" class="table table-borderless table-primary">
                                                        <tbody>
                                                            <tr>
                                                                <th>Accountant Name </th>
                                                                <td>
                                                                    @Model.pojectdt.Rows[0][3]

                                                               </td>
                                                                <th>Project Name</th>
                                                                <td>
                                                                    @Model.pojectdt.Rows[0][0]
                                                                </td>
                                                                <th>Location:  </th>
                                                                <td>
                                                                    @Model.pojectdt.Rows[0][2] 



                                                                </td>
                                                                <th>Project ID  </th>
                                                                <td >
                                                         @Model.pojectdt.Rows[0][1]
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Contractor Name </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.invoice.contractorName>
                                                                </td>
                                                                <th> Date  </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.invoice.startDate>
                                                                </td>
                                                                <th> Invoice Type  </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.invoice.invoiceType>
                                                                </td>
                                                                <th> invoice ID  </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.stat.invoiceID />
                                                                </td>                                                                                                                           </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Sarf Elta3lyah : </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.WC.SarfElta3lya>
                                                                </td>


                                                                <th> Elta3lyah   </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.invoice.Elta3lya>
                                                                </td>
                                                                <th> Deduction  </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.WC.Deduction>
                                                                </td>
                                                                <th> Loan  </th>
                                                                <td>
                                                                    <input type="text" asp-for=@Model.WC.Loan>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    </div>
                                                    <!-- Basic Examples -->
                                                <div class="row clearfix">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="body">
                                                                <div class="table-responsive">
                                                                    <table id="table1" class="table table-bordered table-striped table-hover ">
                                                                            <thead>
                                                                                <tr>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Statement</th>
                                                                                    <th>Unite</th>
@*                                                                                    <th>Previous Quantity</th>
*@                                                                                    <th>Current Quantity</th>
@*                                                                                    <th>Total Quantities</th>
*@                                                                                    <th>Category</th>
@*                                                                                    <th>Current Value</th>
*@@*                                                                                    <th>Total Values</th>
*@

                                                                                </tr>
                                                                            </thead>



                                                                            @for (int i = 0; i < 30; i++)
                                                                            {
                                                                            <tbody>

                                                                                   <tr>
                                                                                    <th>@(i+1)</th>
                                                                                    <td>
                                                                                        <input type="text" asp-for=@Model.stat.Statements>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" asp-for=@Model.stat.Unit>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" asp-for=@Model.stat.currentQuantities>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" asp-for=@Model.stat.currentValue>
                                                                                 </td>

                                                                                 
                                                                            </tbody>
                                                                            }

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
