@page
@model invoices_system.Pages.Accounting_invoices_DataModel
@{
    Layout = "_Accounting_invoices_Data_Layout2";
}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel ">
                    <div class="x_content ">
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                          @*      <style>
                                                    .btn-float-right {
                                                        float: right;
                                                        border: none;
                                                        color: black;
                                                        padding: 15px 32px;
                                                        text-align: center;
                                                        text-decoration: none;
                                                        display: inline-block;
                                                        font-size: 16px;
                                                        margin: 4px 2px;
                                                        cursor: pointer;
                                                        border-radius: 15%;
                                                        background-color: aqua;
                                                    }
                                                </style>
                                                <div style="display: flex; align-items: center;">
                                                    <button type="button" class="btn-float-right">Edit</button>
                                                </div>*@

                                                <table id="mainTable" class="table table-borderless table-primary">
                                                    <tbody>

                                                        <tr>
                                                            <th>Accountant Name </th>
                                                            <td>
                                                                @Model.pojectdt.Rows[0][3]


                                                            </td>
                                                            <th>Project Name</th>
                                                            <td>
                                                                @Model.pojectdt.Rows[0][0]
                                                            </td>
                                                            <th>Location  </th>
                                                            <td>
                                                                @Model.pojectdt.Rows[0][2]
                                                            </td>
                                                            <th>Project ID  </th>
                                                            <td>
                                                                @Model.pojectdt.Rows[0][1]
                                                            </td>


                                                        </tr>

                                                        <tr>
                                                            <th>Contractor Name   </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][0]
                                                            </td>
                                                            <th> Date  </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][2]

                                                            </td>
                                                            <th> Invoice Type </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][4]
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <th>Sarf Elta3lyah : </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][19]
                                                            </td>
                                                            <th> Elta3lyah :  </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][7]
                                                            </td>
                                                            <th> Diduction : </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][17]
                                                            </td>
                                                            <th> Loan : </th>
                                                            <td>
                                                                @Model.pdt.Rows[0][18]
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div style="display: flex; align-items: center;">
                                                    <h5> number of items </h5>
                                                    <input type="text">
                                                    <button type="button">Add</button>
                                                </div>

                                                <!-- Basic Examples -->
                                                <div class="row clearfix">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="card">
                                                            <div class="body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                                                        <tbody>

                                                                            <tr>
                                                                                <th>Accountant Name </th>
                                                                                <td>
                                                                                    @Model.pojectdt.Rows[0][3]


                                                                                </td>
                                                                                <th>Project Name</th>
                                                                                <td>
                                                                                    @Model.pojectdt.Rows[0][0]
                                                                                </td>
                                                                                <th>Location  </th>
                                                                                <td>
                                                                                    @Model.pojectdt.Rows[0][2]
                                                                                </td>
                                                                                <th>Project ID  </th>
                                                                                <td>
                                                                                    @Model.pojectdt.Rows[0][1]
                                                                                </td>


                                                                            </tr>

                                                                            <tr>
                                                                                <th>Contractor Name   </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][0]
                                                                                </td>
                                                                                <th> Date  </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][2]

                                                                                </td>
                                                                                <th> Invoice Type </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][4]
                                                                                </td>

                                                                            </tr>
                                                                            <tr>

                                                                                <th>Sarf Elta3lyah : </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][19]
                                                                                </td>
                                                                                <th> Elta3lyah :  </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][7]
                                                                                </td>
                                                                                <th> Diduction : </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][17]
                                                                                </td>
                                                                                <th> Loan : </th>
                                                                                <td>
                                                                                    @Model.pdt.Rows[0][18]
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>

                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
