@page
@model invoices_system.Pages.AccountantMainModel
@{
    Layout = "_AccountantMain_Layout2";
}

@*<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
            </div>
        </div>
    </div>
</main>
*@
<div class="main">

    <!-- Actual search box -->
    @*      <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
    </div>
    *@
    <!-- Another variation with a button -->
    <div class="main ">
        
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search this blog">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <div class=" table-wrapper  table table-borderless table-primary">
            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td> @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>

                     <tr>
                        <th></th>
                        <th>
                            <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route=@Model.dt.Rows[0][1]> Show</a>
                    </tr>



                </tbody>
            </table>
            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td>
                            @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route-id="@Model.dt.Rows[0][1]"> Show</a>
                            </td>
                    </tr>




                </tbody>
            </table>

            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td>
                            @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>

                     <tr>
                        <th></th>
                        <th>
                            <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route-id="@Model.dt.Rows[0][1]"> Show</a>
                            </td>
                    </tr>




                </tbody>
            </table>
        
        </div>
        <div class="table-wrapper  table table-borderless table-primary">
            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td>
                            @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>
                     <tr>
                        <th></th>
                        <th>
                            <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route-id="@Model.dt.Rows[0][1]"> Show</a>
                            </td>
                    </tr>





                </tbody>
            </table>
            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td>
                            @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>



                     <tr>
                        <th></th>
                        <th>
                            <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route-id="@Model.dt.Rows[0][1]"> Show</a>
                            </td>
                    </tr>


                </tbody>
            </table>

            <table>
                <tbody>

                    <tr>
                        <th>Invoice Type </th>
                        <td>
                            @Model.dt.Rows[0][0]
                        </td>
                    </tr>
                    <tr>
                        <th>Invoice ID </th>
                        <td> @Model.dt.Rows[0][1]</td>
                    </tr>
                    <tr>
                        <th> Status </th>
                        <td> @Model.dt.Rows[0][2]</td>
                    </tr>


                     <tr>
                        <td></td>
                        <th> <a style=" color:blue" asp-page="/AccountantShowinvoice" asp-route-id="@Model.dt.Rows[0][1]"> Show</a>
                    </th>
                    </tr>

                </tbody>
            </table>
          

        </div>

    </div>


</div>



