@page
@model invoices_system.Pages.SiteEngineerShowInvoicesModel
@{
    Layout = "_SiteEngineerShowInvoices_Layout2";
}
<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table class="table table-borderless table-primary">

                                        <tbody>
                                            <tr>

                                                <th>Accountant Name </th>
                                                <td>
                                                    @Model.pojectdt.Rows[0][3]

                                                </td>
                                                <th>Project Name</th>
                                                <td>
                                                    @Model.pojectdt.Rows[0][0]
                                                </td>
                                                <th>Location  </th>
                                                <td>
                                                    @Model.pojectdt.Rows[0][2]
                                                </td>
                                                <th>Project ID  </th>
                                                <td>
                                                    @Model.pojectdt.Rows[0][1]
                                                </td>


                                            </tr>

                                            <tr>
                                                <th>Contractor Name   </th>
                                                <td>
                                                    @Model.pdt.Rows[0][0]
                                                </td>
                                                <th> Date  </th>
                                                <td>
                                                    @Model.pdt.Rows[0][2]

                                                </td>
                                                <th> Invoice Type </th>
                                                <td>
                                                    @Model.pdt.Rows[0][4]
                                                </td>

                                            </tr>
                                            <tr>

                                                <th>Sarf Elta3lyah : </th>
                                                <td>
                                                    @Model.pdt.Rows[0][19]
                                                </td>
                                                <th> Elta3lyah :  </th>
                                                <td>
                                                    @Model.pdt.Rows[0][7]
                                                </td>
                                                <th> Diduction : </th>
                                                <td>
                                                    @Model.pdt.Rows[0][17]
                                                </td>
                                                <th> Loan : </th>
                                                <td>
                                                    @Model.pdt.Rows[0][18]
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <th>Statement</th>
                                                <th>Unite</th>
                                                <th>Previous Quantity</th>
                                                <th>Current Quantity</th>
                                                <th>Total Quantities</th>
                                                <th>Category</th>
                                                <th>Current Value</th>
                                                <th>Total Values</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Model.pdt.Rows[0][8]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][9]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][10]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][11]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][12]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][13]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][14]
                                                </td>
                                                <td>
                                                    @Model.pdt.Rows[0][15]
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
